<nav-menu></nav-menu>
<div class="container">
    <div class="row mt-5">
        <div class="col col-lg-10">
            <h2>Usuarios</h2>
        </div>
        <div class="col col-lg-2">
            <div class="text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target=".bd-example-modal-lg">Nuevo Usuario</button>
            </div>
        </div>
    </div>

    <!-- Loading -->
    <div class="row mt-5 animated fadeIn" *ngIf="false">
        <div class="col text-center">
            <i class="fa fa-sync-alt fa-spin fa-5x" style="color: black"></i>
        </div>
    </div>

    <div class="row animated fadeIn">
        <div class="col">
            <div class="row">

            <div *ngFor="let usuario of usuarios" class="col col-sm-12 col-md-12 col-lg-6">
                <div class="card m-1 bg-light">
                  <div class="card-body">
                    <h4 class="card-title">
                        <div class="row">
                            <div class="col-10">
                                {{ usuario.nombre }} {{ usuario.apellido_paterno }} {{ usuario.apellido_materno }}
                            </div>

                            <div class="col-2 text-right">
                                <label class="switch">
                                    <input type="checkbox"
                                    [checked]="usuario.autorizado"
                                    [(ngModel)]="usuario.autorizado">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <container ngSwitch="{{usuario.tipo_usuario}}">
                                <template [ngSwitchWhen]="1">
                                    <h5>Tipo: Administrador</h5>
                                </template>
                            </container> -->

                          <!-- <template [ngSwitchWhen]="2">
                              <h5>Tipo: Estandar</h5>
                          </template>
                          <template [ngSwitchWhen]="3">
                              <h5>Tipo: Temporal</h5>
                          </template>
                          <template ngSwitchDefault>
                              <h5>Tipo: Estandar</h5>
                          </template> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Correo: {{ usuario.correo }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Teléfono: {{ usuario.telefono }}</h5>
                        </div>
                    </div>

                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" id="user-form"
    role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered ">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nuevo Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #usuarioForm="ngForm" >
                <div class="form-group input-group-sm">
                    <label>Nombre</label>
                    <input name="usuario.nombre"
                    [(ngModel)]="usuario.nombre"
                    type="text" class="form-control"
                    placeholder="Nombre"
                    required>
                </div>
                <div class="form-group input-group-sm">
                    <label>Apellido paterno</label>
                    <input name="usuario.apellido_paterno"
                    [(ngModel)]="usuario.apellido_paterno"
                    type="text" class="form-control"
                    placeholder="Apellido paterno"
                    required>
                </div>
                <div class="form-group input-group-sm">
                    <label>Apellido materno</label>
                    <input name="usuario.apellido_materno"
                    [(ngModel)]="usuario.apellido_materno"
                    type="text" class="form-control"
                    placeholder="Apellido materno"
                    required>
                </div>
                <div class="form-group input-group-sm">
                    <label>Teléfono</label>
                    <input name="usuario.telefono"
                    [(ngModel)]="usuario.telefono"
                    type="tel" class="form-control"
                    placeholder="Teléfono"
                    required>
                </div>
                <div class="form-group input-group-sm">
                    <label>Correo</label>
                    <input name="usuario.correo"
                    [(ngModel)]="usuario.correo"
                    type="email" class="form-control"
                    placeholder="Correo"
                    required>
                </div>
                <div class="form-group input-group-sm">
                    <label>Contraseña</label>
                    <input name="usuario.contrasena"
                    [(ngModel)]="usuario.contrasena"
                    type="password" class="form-control"
                    placeholder="Contraseña"
                    required>
                </div>
                <div class="form-group input-group-sm">
                    <label>Repetir contraseña</label>
                    <input name=""
                    type="password" class="form-control"
                    placeholder="Repetir contraseña"
                    required>
                </div>
                <div class="form-group input-group-sm">
                    <label>Tipo de usuario</label>
                    <select [(ngModel)]="usuario.tipo_usuario"
                    name="usuario.tipo_usuario"
                    class="form-control" id="tipo_usuario"
                    required>
                        <option *ngFor="let tipo of tiposUsuario" [value]="tipo.id">{{ tipo.nombre }}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button"  data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
            <button type="button"
                [disabled]="!usuarioForm.valid"
                data-target="#main-form"
                data-dismiss="modal"
                (click)="guardarUsuarioNuevo()"
                class="btn btn-primary">Guardar</button>

        </div>
    </div>
  </div>
</div>
<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
