/* You can add global styles to this file, and also import other style files */
.form-control:active, .form-control:focus {
    border-color: #009e87;
}

.btn-primary {
    background-color: #00b79d;
    border-color: #009e87;
}

.btn-primary:hover, .btn-primary:disabled, .btn-primary:active {
    background-color: #009e87;
    border-color: #00917c;
}

.nav-item, .navbar-brand {
    color: white;
}

.custom-navbar {
    background-color: #00b79d;
}

body {
    background-color: #393939;
    color: white;
}

.modal-content {
    background-color: #393939;
    color: white;
}

.card {
    background-color: #2f2f2f;
}

.active {
    color: rgb(201, 201, 201);
}

.nav-item:hover {
    color: #00917c;
}
